---
---
{% include header.html %}
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">
    <h1>Tuner Helper</h1>
  </a>
  <ul class="nav">
    <!--    <li class="nav-item">
      <a class="nav-link" type="button" onclick="loadToothViewer()">Tooth Viewer</a>
    </li> -->
    <li class="nav-item dropdown">
      <ul class="navbar-nav">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Calculators
        </a>
        <div class="dropdown-menu bg-dark text-light" aria-labelledby="navbarDropdown">
          <h5 class="text-secondary">Compression</h5>
          <a class="dropdown-item text-light" type="button" data-toggle="modal" data-target="#compRatio">Compression
            Ratio (Static)</a>
          <h5 class="text-warning">Experimental</h5>
          <a class="dropdown-item text-light" type="button" data-toggle="modal" data-target="#max_clocks">Max Clocks
            (Speeduino)</a>
          <div class="dropdown-divider"></div>
          <h5 class="text-danger">Fuel</h5>
          <a class="dropdown-item text-light" type="button" data-toggle="modal" data-target="#BSFC">Brake Specific Fuel
            Consumption</a>
          <a class="dropdown-item text-light" type="button" data-toggle="modal" data-target="#flowrate">Minimum Flow
            Rate</a>
          <a class="dropdown-item text-light" type="button" data-toggle="modal" data-target="#pflow">Flow Rate At
            Pressure</a>
          <a class="dropdown-item text-light" type="button" data-toggle="modal" data-target="#mpglbs">MPG to Lbs/Hr
            (Gasoline)</a>
          <div class="dropdown-divider"></div>
          <h5 class="text-success">Sensors</h5>
          <a class="dropdown-item text-light" type="button" data-toggle="modal" data-target="#VSS">VSS Pulses Per
            Mile/KM</a>
        </div>
      </ul>
    </li>
  </ul>
</nav>
<div class="content p-3">
  <div class="row p-3">
    <div class="col">
      <div class="card bg-dark text-light">
        <div class="card-header">
          <h1>About</h1>
        </div>
        <div class="card-body">
          <div class="card-text">
            TunerHelper is a collection of free tools, calculators, and other information to help you tune your engine.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
<!--      {% include videos.html %}-->
    </div>
    <div class="col">
      {% include calculators.html %}
    </div>
    <div class="col">
    </div>
  </div>
</div>


{% include modals.html %}


<script>
  function loadToothViewer() {
    console.log("loading tooth viewer");
  }

</script>
{% include footer.html %}