<div class="card bg-dark text-light">
    <div class="card-header">Calculators</div>
    <div class="card-body navbar navbar-dark bg-dark navbar-nav">
      <div>
        <h5 class="dropdown-toggle text-light" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Compression
        </h5>
        <div class="dropdown-menu bg-dark text-light">
          <a class="dropdown-item text-light" type="button" data-toggle="modal" data-target="#compRatio">Compression
            Ratio (Static)</a>
        </div>
      </div>
      <div>
        <h5 class="dropdown-toggle text-warning" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Experimental
        </h5>
        <div class="dropdown-menu bg-dark text-light" id="experimentalDropdown">
          <a class="dropdown-item text-light" type="button" data-toggle="modal" data-target="#max_clocks">Max Clocks
            (Speeduino)</a>
        </div>
      </div>
      <div>
        <h5 class="dropdown-toggle text-danger" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Fuel
        </h5>
        <div class="dropdown-menu bg-dark text-light">
          <a class="dropdown-item text-light" type="button" data-toggle="modal" data-target="#BSFC">Brake Specific
            Fuel Consumption</a>
          <a class="dropdown-item text-light" type="button" data-toggle="modal" data-target="#flowrate">Minimum Flow
            Rate</a>
          <a class="dropdown-item text-light" type="button" data-toggle="modal" data-target="#pflow">Flow Rate At
            Pressure</a>
          <a class="dropdown-item text-light" type="button" data-toggle="modal" data-target="#mpglbs">MPG to Lbs/Hr
            (Gasoline)</a>
        </div>
      </div>
      <div>
        <h5 class="dropdown-toggle text-success" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Sensors
        </h5>
        <div class="dropdown-menu bg-dark text-light">
          <a class="dropdown-item text-light" type="button" data-toggle="modal" data-target="#VSS">VSS Pulses Per
            Mile/KM</a>
        </div>
      </div>
    </div>
  </div>