<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Maximum Clock Cycles Allowable @ RPM</h5>
  </div>
  <div class="modal-body">
<form action="" id="maxc">
    <div class="form-group col-xs-4 col-md-4">
        <label for="rpm">
            RPM
        </label>
        <input type="number" id="rpm"  oninput="UpdateMCForm()"/>
    </div>
    <div class="form-group col-xs-4 col-md-4">
        <label for="teeth">
            Teeth:
        </label>
        <input type="number" id="teeth" oninput="UpdateMCForm()"/>
    </div>
</form>
</div>
<div class="modal-footer">
    <div class="alert alert-danger" id="maxClockAlert" role="alert" aria-hidden="true">
        <h4 class="alert-heading">You may have timing issues with this setup.</h4>
    </div>
    <div >
       <h5>Clocks: <div id="maxcres"></div></h5>
    </div>
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>

<script>
    var maxc = document.forms["maxc"];
    var maxcres = document.getElementById('maxcres');
    $("#maxClockAlert").hide();

    function UpdateMCForm()
    {
        var rpm = parseInt(maxc.elements["rpm"].value);
        var teeth = parseInt(maxc.elements["teeth"].value);
        var _out = (((teeth/(rpm/60))/(360/teeth)) * 1000000)/(1/16);
        maxcres.innerText = _out.toFixed(2).toString();
        // Average speeduino main loop is 19,200 clocks, assume 20k for limit
        // and alert if under that limit.
        if (_out < 20000 && !isNaN(_out)) {
            $("#maxClockAlert").show();
        } else {
            $("#maxClockAlert").hide();
        }
    }
</script>