
<!-- Modal -->
<div class="modal fade" id="flowrate" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        {% include flowrate.html %}
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="pflow" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        {% include pressureflow.html %}
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="BSFC" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        {% include bsfc.html %}
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="mpglbs" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        {% include mpg_to_lbph.html %}
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="max_clocks" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        {% include max_clocks.html %}
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="compRatio" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        {% include compressionratio.html %}
      </div>
    </div>
  </div>
  
  
  <div class="modal fade" id="VSS" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        {% include vss.html %}
      </div>
    </div>
  </div>