<div class="modal-header">
    <h5 class="modal-title">Fuel Pressure & Flow Rate Calculator</h5>
  </div>
  <div class="modal-body">
<form action="" id="pf">
    <div class="form-group col-xs-4 col-md-4">
        <label for="flowRate">
            Flow Rate (lbs/hr)
        </label>
        <input type="number" id="flowRate"  oninput="UpdatePFForm()"/>
    </div>
    <div class="form-group col-xs-4 col-md-4">
        <label for="ratedPressure">Rated Pressure (psi)</label>
        <input type="number" id="ratedPressure" oninput="UpdatePFForm()"/>
    </div>
    <div class="form-group col-xs-4 col-md-4">
        <label for="currentPressure">Current Pressure (psi)</label>
        <input type="number" id="currentPressure" oninput="UpdatePFForm()"/>
    </div>
</form>
</div>
<div class="modal-footer">
    <div style="float:left;">
       <h5>Calculated Flow Rate: <div id="pfres"></div> lbs/hr</h5>
    </div>
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>

<script>
    var pf = document.forms["pf"];
    var pfres= document.getElementById('pfres');

    function UpdatePFForm()
    {
        var flowr = parseFloat(pf.elements["flowRate"].value);
        var rp = parseFloat(pf.elements["ratedPressure"].value);
        var cp = parseFloat(pf.elements["currentPressure"].value);
        console.log(cp);
        console.log(rp);
        console.log(flowr);
        console.log(Math.sqrt((cp/rp))*flowr);
        pfres.innerText = (Math.sqrt(cp / rp) * flowr).toFixed(2).toString();
    }
</script>